:root {
  --main-color: #41b5ac;
}

body {
  color: #333;
  font-family: -apple-system,BlinkMacSystemFont,"avenir next",avenir,helvetica,"helvetica neue",ubuntu,roboto,noto,"segoe ui",arial,sans-serif;
  line-height: 1.35;
}

address {
  font-style: normal;
}

.digits {
  font-variant-numeric: tabular-nums;
  white-space: nowrap;
}

.page-break {
  page-break-before: always;
}
.inline-list li {
  display: inline;
}
.inline-list li:not(:last-of-type)::after {
  content: ", ";
}
.inline-list li:last-of-type::after {
  content: ".";
}

.no-break {
  page-break-inside: avoid;
}

header {
  position: running(company);
}

footer {
  line-height: 1.15;
  position: running(footer);
  text-align: left;
}
  footer,
  footer a {
    color: var(--main-color);
  }
  footer p {
    margin: 5px 0;
  }
  footer code {
    font-family: inherit;
  }
  footer dl {
    display: flex;
    margin: .15em 0 0;
  }
  footer dt {
    font-weight: bold;
  }
  footer dd,
  footer dt {
    margin: 0 1em 0 0;
  }
  footer dd + dt {
    margin-left: 1em;
  }

.missing-param {
  color: red;
  font-family: monospace;
  font-style: normal;
}

table.signature {
  width: 100%;
}
  table.signature td,
  table.signature th {
    padding: 10px;
    text-align: left;
  }
  table.signature th:last-child,
  table.signature td:last-child {
    text-align: right;
  }

@page {
  size: A4;
  margin: 30mm 25mm;

  @top-left {
    content: element(company);
    text-align: left;
  }

  @top-right {
    content: "Page " counter(page);
    text-align: right;
  }

  @bottom-center {
    content: element(footer);
  }
}
